{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "refactor",
            "release": "major"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@conveyal/maven-semantic-release",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "**/all/target/aem-vite.all-*.zip",
            "name": "aem-vite.all-${nextRelease.version}.zip"
          },
          {
            "path": "**/core/target/aem-vite.core-*.jar",
            "name": "aem-vite.core-${nextRelease.version}.jar"
          }
        ]
      }
    ]
  ]
}
