{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "refactor",
            "scope": "core",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "docs",
            "scope": "readme",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "build",
            "scope": "deps",
            "release": "patch"
          },
          {
            "revert": true,
            "release": "patch"
          },
          {
            "scope": "no-release",
            "release": false
          }
        ]
      }
    ],
    [
      "@terrestris/maven-semantic-release",
      {
        "processAllModules": true,
        "updateSnapshotVersion": true
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "**/pom.xml",
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "all/target/aem-vite.all-*.zip",
            "name": "aem-vite.all-${nextRelease.version}.zip"
          },
          {
            "path": "core/target/aem-vite.core-*.jar",
            "name": "aem-vite.core-${nextRelease.version}.jar"
          }
        ]
      }
    ]
  ]
}
